.card{
    height: 35vh;
    width:80vw;
    border:1px solid white;
}
a{
    color: white;
    text-decoration: none;
 
}
a:hover{
    color: black;
}
.card:hover, a:hover{
    background-color: white;
    color: black;
    cursor: pointer;

}
